{% extends 'base.html' %}   {% comment %} This is the create task page template of the todo app {% endcomment %}

{% block content %}
  <h1 class='text-center m-3'>Create Task</h1>
  <form method="POST" class="w-50 mx-auto">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
    </div>
  
      <button type="submit" class="btn btn-primary w-100">Create Task</button>

  </form>
{% endblock %}

